/* 重置 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#f7f7f7;}
a,a:hover{color:#333;}
/* 统一调用背景图 */
.m-top .msg,.m-top .house,.icon{background: url(../img/sprite.png) no-repeat 999px 999px;}
.m-top .msg{background-position: 0 -19px;width: 16px;height: 15px;vertical-align: bottom;}
.m-top .house{background-position: 0 0;width: 16px;height: 15px;vertical-align: bottom;}
.icon{background-position:0 -81px;width: 16px;height: 16px;}
.icon1{background-position:0 -61px;width: 16px;height: 16px;}
.icon2{background-position:0 -40px;width: 16px;height: 16px;}
.rss{background-position:0 -104px;width: 16px;height: 16px;vertical-align: bottom;}
/* 布局 */
*{font-size: 11px;font-color:#666;}
.g-doc{min-width: 800px;}
.g-bd {margin: 0 auto;width: 990px;position: relative;}
.g-mn {width: 546px; border: 1px solid #bbb;margin-top: 10px;padding-left: 20px;padding-right: 267px;min-height: 600px;background-color: #fff;}
.g-mn h2{font-size: 20px;margin: 20px 0;position: relative;}
.g-sd {width: 145px;}
.g-ft {margin-top: 18px;}
.g-ft .cpr{margin:23px 0 8px 0;}
/* 模块 */
.m-top {margin: 8px 0 8px 15px;}
.m-nav a{padding: 0 6px;}
.m-menu {margin-top: -1px;}
.m-menu li{display: inline;padding: 0 8px;}
.m-menu li:last-child{margin-right: 12px;}
.m-menu .hl{color: #F70;}
.m-menu .divider{ border-left: 1px solid #ccc;padding: 0;}
.m-tt{height: 50px;background-color: #dbdbdb;border-top: 1px solid #ccc;padding: 5px 0 12px 0;}
.m-tt1{width: 990px;margin: 0 auto;}
.m-tt img {width: 50px;}
.m-tab ul{border-bottom: 1px solid #bbb;color: #21759b;background-color: #f7f7f7;}
.m-tab li{display: inline-block;border-left: 1px solid #bbb;border-top:1px solid #bbb;position: relative;top: 1px;padding: 7px 32px;cursor: pointer;}
.m-tab li:last-child{margin-left: -4px;border-right:1px solid #bbb;}
.m-tab li.active{border-bottom: 1px solid #fff;color: #000;background-color: #fff;}
.m-ipt{background-color: #ececec;margin-top: 13px;padding: 6px 0 0px 8px;overflow: hidden;}
.m-ipt .tt{width:510px;border: none;padding: 7px 10px;margin-bottom: 5px;background-color: #f8f8f8;}
.m-ipt textarea{padding: 7px 10px;width: 509px;}
.m-ipt .btn{margin: 6px 7px 8px 0;padding: 4px 10px;}
.m-ipt.hidden{display: none;}
.m-ctt.hidden{display: none;}
.m-ctt{margin-top: 17px;}
.m-ctt .mn{}
.m-ctt .slt{padding: 0 0 0 20px;height: 45px;border-bottom: 1px dotted #d8e0e5;position: relative;}
.m-ctt .slt .time {display: inline-block;width: 119px;}
.m-ctt .icon-private{margin: 0 2px;}
.m-ctt .btm{padding: 0 20px 0 20px;}
.m-ctt .rct{width: 0;height: 0;border-style: solid;border-width: 5px 4px 0 4px;border-color: #a8a8a8 #fff #fff #fff;margin: 4px 15px 0 3px;}
.m-ctt .edt{margin-right: 65px;position: absolute;right: 0;top: 2px;}
.m-ctt .more{margin-top: -3px;position: absolute;position: absolute;right: 0;top: 0;}
.m-ctt .more ul{width:55px;border: 1px solid #fff;padding: 4px 3px;position: absolute;right: 0;color: #21759b;}
.m-ctt .more li{display: none;}
.m-ctt .more ul:hover{border: 1px solid #c8d9e3;padding: 4px 3px;background-color: #fff;z-index: 999;}
.m-ctt .more ul:hover li{display:block;margin: 8px 0;}
.m-ctt .more li a{color: #21759b;}
.m-ctt .content{margin:0 0 0 18px;}
.m-ctt .content>div{margin-top: 7px;}
.m-ctt .content .read{display: inline-block;margin-left: 15px;width: 38px;white-space: nowrap;}
.m-ctt .content .comment{margin-left: 40px;}
.m-ctt .btm{margin-top: 13px;}
.m-ctt .btm .all{display: inline-block;vertical-align: middle; }
.m-ctt .btm .dlt{margin-left: 14px;margin-bottom: 24px;padding: 1px 6px;}
.m-sd {width:205px;height: 302px;overflow: hidden;position: absolute;right:32px;top:73px;background-color: #fafafa;border: 1px solid #f5f5f5;border-bottom: 1px solid #e2e2e2;}
.m-sd .slt{margin: 10px 0 ; height: 38px;}
.m-sd .slt img{width: 38px;height: 38px;}
.m-sd h2{font-size: 11px;font-weight: bold;color:#7b7b7b;background-color: #fff;margin: 0;padding: 20px 0;}
.m-sd .hd{color: #21759b;padding-top: 3px;font-weight: bolder;}
.m-sd .bd{color: #21759b;margin-top: 9px;}
.m-sd .content {height: 248px;overflow: hidden;}
.m-ft a{margin: 0 3px;}
.m-ft .dd{color:#ddd;}
.m-ft a:last-child{margin-left: -7px;}
.m-label{padding:48px 0 20px 0;border-bottom: 1px dotted #d8e0e5;}
/* 元件 */
.u-hd {padding-left: 20px;}
.u-hd h2{font-size: 19px;color:#7b7b7b;font-weight: normal;}
.u-hd .btn{color: #515151;padding: 3px 27px;margin-top: 7px;}
.u-lst{width: 143px;border: 1px solid #bbb;border-radius: 1px;margin: 10px 0;background-color: #fff;}
.u-lst .hd{background-color: #e5e5e5;}
.u-lst .icon{padding: 0 0px;margin: 5px 6px 8px 8px;}
.u-lst .tt{vertical-align: middle;margin-top: -22px;margin-left: -3px;}
.u-lst li a{display:block;padding: 7px 0 7px 30px;color:#21759b;cursor: pointer;}
.u-lst li a:hover{color: #444;background-color: #d8d8d8;}
.u-lst li.active a{color: #333;background-color: #e5e5e5;}
/* 功能 */
.f-cr1{color: #a4a4a4;}
.f-cr2{color: #21759b;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tac{text-align:center;}
.f-csp{cursor:pointer;}