
    /* 重置 */
    /* 统一调用背景图 */
    .m-top .msg,.m-top .house,.icon{background: url(../img/sprite.png) no-repeat 999px 999px;}
    .m-top .msg{background-position: 0 -19px;width: 16px;height: 15px;vertical-align: bottom;}
    .m-top .house{background-position: 0 0;width: 16px;height: 15px;vertical-align: bottom;}
    .icon{background-position:0 -81px;width: 16px;height: 16px;}
    .icon1{background-position:0 -61px;width: 16px;height: 16px;}
    .icon2{background-position:0 -40px;width: 16px;height: 16px;}
    .rss{background-position:0 -104px;width: 16px;height: 16px;vertical-align: bottom;}
    /* 布局 */
    *{font-size: 11px;font-color:#666;}
    .g-doc{min-width: 800px;}
    .g-bd {margin: 0 auto;width: 990px;position: relative;}
    .g-mn {width: 546px; border: 1px solid #bbb;margin-top: 10px;padding-left: 20px;padding-right: 267px;min-height: 600px;}
    .g-mn h2{font-size: 20px;margin: 20px 0;position: relative;}
    .g-sd {width: 145px;}
    .g-ft {margin-top: 18px;}
    .g-ft .cpr{margin-top: 23px;}
    /* 模块 */
    .m-top {margin: 8px 0 8px 15px;}
    .m-nav a{padding: 0 6px;}
    .m-menu {margin-top: -1px;}
    .m-menu li{display: inline;padding: 0 8px;}
    .m-menu li:last-child{margin-right: 12px;}
    .m-menu .hl{color: #F70;}
    .m-menu .divider{ border-left: 1px solid #ccc;padding: 0;}
    .m-tt{height: 50px;background-color: #dbdbdb;border-top: 1px solid #ccc;padding: 5px 0 12px 0;}
    .m-tt1{width: 990px;margin: 0 auto;}
    .m-tt img {width: 50px;}
    .m-tab{}
    .m-tab ul{border-bottom: 1px solid #bbb;}
    .m-tab li{display: inline-block;border-left: 1px solid #bbb;border-top:1px solid #bbb;position: relative;top: 1px;padding: 7px 32px;cursor: pointer;}
    .m-tab li:last-child{margin-left: -4px;border-right:1px solid #bbb;}
    .m-tab li.active{border-bottom: 1px solid #fff;}
    .m-sd{margin-right: -267px;}
    .m-ipt{background-color: #ececec;margin-top: 13px;padding: 6px 0 36px 8px;}
    .m-ipt .tt{width:510px;border: none;padding: 7px 10px;margin-bottom: 5px;background-color: #fff;}
    .m-ipt textarea{padding: 7px 10px;}
    .m-ipt .btn{margin-right: 7px;margin-top: 5px;padding: 4px 10px;}
    .m-ipt.hidden{display: none;}
    .m-ctt.hidden{display: none;}
    .m-ctt{margin-top: 17px;}
    .m-ctt .mn{}
    .m-ctt .slt{padding: 0 0 0 20px;height: 45px;border-bottom: 1px dotted #d8e0e5;position: relative;}
    .m-ctt .icon-private{margin: 0 2px;}
    .m-ctt .btm{padding: 0 20px 0 20px;}
    .m-ctt .rct{width: 0;height: 0;border-style: solid;border-width: 5px 4px 0 4px;border-color: #a8a8a8 #fff #fff #fff;margin: 4px 15px 0 3px;}
    .m-ctt .edt{margin-right: 65px;position: absolute;right: 0;top: 2px;}
    .m-ctt .more{margin-top: -3px;position: absolute;position: absolute;right: 0;top: 0;}
    .m-ctt .more ul{width:55px;border: 1px solid #fff;padding: 4px 3px;position: absolute;right: 0;color: #21759b;}
    .m-ctt .more li{display: none;}
    .m-ctt .more ul:hover{border: 1px solid #c8d9e3;padding: 4px 3px;background-color: #fff;z-index: 999;}
    .m-ctt .more ul:hover li{display:block;margin: 8px 0;}
    .m-ctt .more li a{color: #21759b;}
    .m-ctt .content{margin:0 0 0 18px;}
    .m-ctt .content>div{margin-top: 7px;}
    .m-ctt .content .read{display: inline-block;margin-left: 15px;width: 38px;white-space: nowrap;}
    .m-ctt .content .comment{margin-left: 40px;}
    .m-ctt .btm{margin-top: 13px;}
    .m-ctt .btm .all{display: inline-block;vertical-align: middle; }
    .m-ctt .btm .dlt{margin-left: 14px;margin-bottom: 24px;padding: 1px 6px;}
    .m-sd2{width:205px;position: absolute;right:32px;top:73px;background-color: #fafafa;border: 1px solid #f5f5f5;border-bottom: 1px solid #e2e2e2;padding-bottom: 14px;}
    .m-sd2 .slt{margin: 10px 0 ; }
    .m-sd2 h2{font-size: 11px;font-weight: bold;color:#7b7b7b;}
    .m-sd2 .hd{color: #21759b;padding-top: 3px;font-weight: bolder;}
    .m-sd2 .bd{color: #21759b;margin-top: 9px;}
    .m-ft a{margin: 0 3px;}
    .m-ft .dd{color:#ddd;}
    .m-ft a:last-child{margin-left: -7px;}
    .m-label{padding:48px 0 20px 0;border-bottom: 1px dotted #d8e0e5;}
    .m-label.hidden{display: none;}
    /* 元件 */
    .u-hd {padding-left: 20px;}
    .u-hd h2{font-size: 19px;color:#7b7b7b;font-weight: normal;}
    .u-hd .btn{color: #515151;padding: 3px 27px;margin-top: 7px;}
    .u-lst{width: 143px;border: 1px solid #bbb;border-radius: 1px;margin: 10px 0;}
    .u-lst .hd{background-color: #e5e5e5;}
    .u-lst .icon{padding: 0 0px;margin: 5px 6px 8px 8px;}
    .u-lst .tt{vertical-align: middle;margin-top: -22px;margin-left: -3px;}
    .u-lst li {margin: 7px 0 7px 30px;color:#21759b;cursor: pointer;}
    .u-lst li:hover{color: #444;}
    .u-lst li.active{color: #333;}
    /* 功能 */
    .f-cr1{color: #a4a4a4;}
    .f-cr2{color: #21759b;}